* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

body {
  background-color: rgb(7, 7, 5);
  color: rgb(255, 255, 255);
}

.navigation {
  display: flex;
  padding: 20px;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.navigation div {
  display: flex;
  gap: 15px;
}

h1 {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 40px;
}

.input {
  width: 75%;
}

input {
  width: 60%;
  padding: 10px;
  border: none;

  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  font-size: 20px;
}

#search-btn {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  background-color: rgb(12, 62, 107);
  color: rgb(255, 255, 255);
}

.sign-up {
  align-items: center;
  padding: 10px;
}

p {
  text-decoration: underline;
  font-size: 18px;
  cursor: pointer;
}

#login-btn {
  padding: 10px 10px;
  background-color: rgb(12, 62, 107);
  cursor: pointer;
  border-radius: 5px;
  border: none;
  color: rgb(255, 255, 255);
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
}

.library {
  width: 85%;
  padding: 10px;
  text-align: center;
  border: 1px solid white;
}

.music-card {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: calc(8% / 3);
    row-gap: 20px;

}

.card {
}

img {
  width: 100%;
  height: 300px;
}
